snippet pubf
	public function ${1}()
	{
		${2}
	}

snippet prif
	private function ${1}(${2})
	{
	    ${3}
	}

snippet fn
	function(${1}) {
		${2}
	}

snippet try
	try {
		${1}
	} catch() {
		${2}
	}

snippet $
	$this->

snippet c
	public function __construct(${1})
	{
		
	}
